* {
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy';
}

// Text
h1 {
  font-size: 60.5px;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}

p {
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 0;
}

h3 {
  font-family: Merriweather;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 2px;
}

a {
  letter-spacing: 1.5px;
  text-decoration: none;
}

.large-text {
  font-size: 60.5px;
  text-align: right;
}
