@import 'fonts';
@import 'colors';

body {
  font-family: 'Gilroy';
}

// Text
h1 {
  font-style: 60.5px;
}

p {
  font-size: 23px;
  font-weight: 300;
  margin-bottom: 0;
}

h3 {
  font-family: Merriweather;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 2px;
}

a {
  letter-spacing: 1.5px;
  text-decoration: none;
}

.large-text {
  font-size: 60.5px;
  text-align: right;
}

// Navigation
@media screen and (min-width:768px){
  .navbar-brand-centered {
    border: 0;
    display: block;
    left: 50%;
    position: absolute;
    // text-align: center;
    width: 120px;
  }

  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }
}

.navbar {
  background-color: $white;
  background-image: none;
  border: 0;
  box-shadow: none;
  height: 155px;
  margin-bottom: 0;
  padding-top: 55px;

  li {
    margin-right: 50px;
  }

  img {
    height: 31.7px;
  }
}

// Button Styling
button {
  background-color: $white;
  border: solid 5px $yellow;
  color: $yellow;
  height: 82.5px;
  width: 295px;
}

// Section Styling

.about {
  padding-bottom: 137.5px;
  padding-top: 175px;
}

.resume {
  background-color: $yellow;
  max-width: 100%;
  padding-bottom: 167px;
  padding-top: 155px;

  &-btn {
    background-color: transparent;
    border: solid 5px $white;
    font-size: 23px;
    font-weight: 800;
    height: 82.5px;
    letter-spacing: 1px;
    max-width: 295px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &:first-child {
      margin-bottom: 27.5px;
    }

    &,
    & a {
      color: $white;
      text-decoration: none;
    }
  }
}

.contact {
  background-color: $off-white;
  padding-bottom: 70px;
  padding-top: 140px;

  .logo {
    text-align: center;

    img {
      width: 170px;
    }
  }
}

.circle-group {
  display: inline-block;
}

.circle {
  border: solid 5px $white;
  border-radius: 50%;
  display: inline-block;
  height: 82.5px;
  margin-bottom: 87.5px;
  margin-right: 27.5px;
  width: 82.5px;
}

* {
  box-sizing: border-box;
}

@import 'grid';
