/*
/*Navigation*/
#navigation{
  list-style-type: none;
  text-align: center;
  padding-top: 73px;
  height: 155px;
}
#navigation li{
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  /*padding-left: 141px;*/
}

li{
  padding-right: 150px;
}
/*Section Styling*/
.row{
  padding-top: 150px;
  padding-bottom: 150px;;
}
*/

/*Grid Styling*/
* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  max-width: 100%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 385px;
  height: 383px;
}
.first{
  background-color: #faba00;
}
.grey{
  background-color: #4a4a4a;
}
.black{
  background-color: #000;
}
.light-grey{
  background-color: #9b9b9b;
}
.grid-item--width2 { width: 774px; }
.grid-item--height2 { height: 766px; }
